<h1>Welcome to RST Whois Server</h1>
<p> To use the service enter the following uri: /whois/[ip or domain]</p>
<p> For example, try: <a href="http://<%= @host %>/whois/<%= @clientip %>">http://<%= @host %>/whois/<%= @clientip %></a></p>

<br>
<p>Created by <a href="https://www.rstcloud.net/">RST Cloud</a>
